@import url('https://fonts.googleapis.com/css?family=Alegreya+SC|Alegreya:400,400i,700,700i');

@import 'plugins/semantic-ui/semantic-ui';
@import 'plugins/bourbon/bourbon';
@import 'plugins/neat/neat';

$mobile: new-breakpoint(max-width 500px 4);
$ipad: new-breakpoint(max-width 1024px 12);

body {
	font-family: 'Alegreya', serif;
	margin: 0;
	padding: 0;
}

small {
	font-family: 'Alegreya SC', serif;
	font-size: 100%;
}

header {
	height: 70px;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background-color: #1a7a43;
	display: flex;
	color: #fff;
	padding: 0 15px;
	z-index: 1;
	border-bottom: 3px solid #25a55f;
	box-shadow: 0 8px 17px 0 rgba(0,0,0,0.1), 0 6px 20px 0 rgba(0,0,0,0.2);

	.logo {
		display: flex;
	    align-items: center;
	    text-decoration: none;
	    color: #fff;

	    img {

	    }

	    small {
	    	font-size: 20px;
	    	padding: 0 10px;

	    	@include media($ipad) {
				display: none;
	    	}
	    }
	}

	nav {
		flex: 1;
		text-align: right;
		padding: 15px;
		align-items: center;
		display: flex;
		justify-content: flex-end;

		a {
			color: #fff;
			margin: 0 15px;
			text-decoration: none;
			font-family: 'Alegreya SC', serif;
			font-size: 20px;
			-webkit-transition: all 0.88s cubic-bezier(0.7, 0, 0.3, 1);
			-moz-transition: all 0.88s cubic-bezier(0.7, 0, 0.3, 1);
			transition: all 0.88s cubic-bezier(0.7, 0, 0.3, 1);

	    	@include media($mobile) {
				font-size: 16px;
				text-align: center;
				line-height: 15px;
	    	}

			&:hover {
				color: #fff;
			}
		}
	}
}

.home-container {
	background-image: url(img/back-home.jpg);
	background-position: top center !important;
	background-color: #fff;
	background-repeat: repeat-x !important;
	padding-top: 52px;
}

.main-container {
	padding-top: 70px;
	background-color: #fff;
	height: auto;
}

.intro {
	max-width: 600px;
	margin: 0 auto;

	.logo {
		text-align: center;
	}

	h1	{
	    color: #1a7a43;
	    line-height: 1.4em;
	    font-size: 50px;
	    text-align: center;
        margin: 0;

    	@include media($mobile) {
			font-size: 30px;
    	}
	}

	h4 {
		font-family: 'Alegreya SC', serif;
		text-align: center;
		line-height: 1.4em;
		font-size: 25px;
	    margin: 0 0 10px 0;
	}

	p {
		font-size: 20px;
		font-family: 'Alegreya';
		line-height: 26px;
		padding: 0 2em;
		text-align: center;
	}

	.call-to-action {
		text-align: center;
		padding: 15px 0;

		.fa {
			margin-right: 15px;
			font-size: 18px;
		}
	}
}

footer {
	text-align: center; 
	padding: 2em;
}


.about, .contact {
	max-width: 600px;
	margin: 0 auto;
	text-align: center;
	padding: 150px 1em 0 ;
	


	h2	{
		margin-bottom: 15px;
	}

	p {
		font-size: 18px;
	}
}

.post {
	max-width: 600px;
	margin: 0 auto;
	padding: 2em 0;
	font-size: 20px;
	line-height: 30px;


	@include media($ipad) {
	    padding: 2em 1em;
	}

	h3, h4 {
		border-bottom: 1px solid #1a7a43;
		color: #1a7a43;
		font-family: 'Alegreya SC', serif;

	}


}

.guide {
	background-color: rgba(255,255,255,0.9);
	padding: 0 1em;

	h1 {
		padding-top: 20px;
		max-width: 900px;
		margin: 0 auto;
		border-bottom: 1px solid #ddd !important;

	}

	.items {
		max-width: 900px;
		margin: 0 auto;
		padding-top: 30px;
	}

	.item {
		border-bottom: 1px solid #ddd !important;
		margin: 25px 0 !important;
		padding: 1em 0 !important;

		.header {
			font-size: 22px !important;
			color: #1a7a43 !important;

			i {
				color: #999;
				margin-top: 10px;
				display: block;
				font-size: 16px;
			}
		}

		.description {
			 p {font-size: 20px;}
		}
	} 


}

.search-form {
	display: block;
	width: 100%;
	padding: 70px 1em;
	background: url(img/back-search.jpg);
	background-position: top center !important;
	background-color: #333;
	background-repeat: repeat-x !important;
	-webkit-transition: all 0.88s cubic-bezier(0.7, 0, 0.3, 1);
	-moz-transition: all 0.88s cubic-bezier(0.7, 0, 0.3, 1);
	transition: all 0.88s cubic-bezier(0.7, 0, 0.3, 1);

	@include media($mobile) {
		padding: 30px 1em;
	}
	
	label {
		text-align: center;
		display: block;
		width: 100%;
		margin: 0 0 20px 0;
		font-size: 25px;
		color: #fff;

    	@include media($mobile) {
			margin: 20px 0;
			font-size: 20px;
    	}
	}


	form {
		max-width: 700px;
		display: flex;
		margin: 0 auto;

    	@include media($mobile) {
			flex-direction: column;
    	}

	}

	.search-box {
		margin-right: 15px;
		flex: 1;
		border: none;
		padding: 10px 10px 10px 20px;
		border-bottom: 1px solid #ddd;
		font-size: 20px;

    	@include media($mobile) {
			margin: 0;
			padding: 10px;
			text-align: center;
    	}

	}

	.search-action {
		font-size: 15px;
	    padding: 0 45px;
	    background: #1a7a43 !important;

    	@include media($mobile) {
			padding: 10px 45px;
			margin: 20px 0;
    	}
	}
}

.search-results {
	li {

	}

	.image {
		img {
			width: 100%;
		}
	}

	.content {

	}


}

.no-result {
	width: 100%;
	padding: 50px 0;
	text-align: center;
	font-size: 25px;
	color: #999;
}